footer{
    background-color: rgb(0, 37, 53);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    a{
        .imgFoot{
            width: 75px;
            height: 75px;
        }
    }
}