
//variables globales

$mainColor: rgb(0, 56, 81);
$secondaryColor: rgb(191, 210, 217);
$tertiaryColor: rgb(0, 37, 53);
$black: rgb(45, 45, 45);
$white: rgb(229, 229, 229);

body{
    background-color: $secondaryColor;
}


